<% layout('./secondary/layouts/boilerplate')%>

<div class="row">

    <div class="col-6">

        <div class="card mb-3">

            <img src="<%= collection.collection_image%>" class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title"><%= collection.title %></h5>
                <p class="card-text"><%= collection.description%></p>
                <p class="card-text"><b>Submitted by</b>: <i><%= collection.author.username%></i></p>
            </div>

            <%  if( currentUser && collection.author.equals(currentUser._id))  {%>
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/collections/<%=collection._id%>/edit">Edit</a>
                    <form class="d-inline" action="/collections/<%=collection._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            <% } %>

        </div>
    </div>

    <div class="col-6">

        <h3 class="text-center">Albums In This Collection</h3>

        <% for(let album of collection.albums) { %>

        <div class="card mb-3">

            <img src="<%= album.album_art%>" class="card-img-top" alt="...">

            <div class="card-body text-center mb-3">
                <h5 class="card-title"><%= album.title %></h5>
                <p class="card-text">by <%= album.artist_name %></p>
            </div>

        </div>

        <% } %>

    </div>

</div>


<footer>
    <a href="/collections">All Collections</a>
</footer>